<br><br>
<img style="width: 950px; height: 250px; margin-left: 20px;" src="{{organization.organizationHeadPhotoUrl}}" *ngIf="organization.organizationHeadPhotoUrl"> <br>
<img style="width: 130px; height: 130px; margin-left: 20px;" src="{{organization.organizationPhotoUrl || '../../../../../../assets/organization.png'}}">
<form #editForm="ngForm" id="editForm" (ngSubmit)="updateOrganization()">
  <h4>Organization name</h4>
  <textarea name="name" rows="4" [(ngModel)]="organization.name"></textarea>
  <h4>Description</h4>
  <textarea name="description" rows="4" [(ngModel)]="organization.description"></textarea>
</form>


<button [disabled]="!editForm.dirty" form="editForm">Save</button>

<button (click)="deleteOrganization(organization.id)">Delete this organization</button>

<app-organization-photo-editor [currentOrganizationId]="organization.id" [organizationPhotos]="organization.organizationPhotos" (getOrganizationPhotoChange)="updatePhoto($event)"></app-organization-photo-editor>
<app-organization-headerphoto-editor [currentOrganizationId]="organization.id" [organizationPhotos]="organization.organizationHeadPhotos" (getOrganizationHeadPhotoChange)="updateHeadPhoto($event)"></app-organization-headerphoto-editor>
