<div style="display: flex">
    <img src="{{photoUrl || '../../../../assets/user.png'}}" style="width:  50px; height: 50px;" >
    <div class="dropdown">
      <button class="dropbtn">Welcome, {{username}}</button>
      <div class="dropdown-content">
        <a href="#" [routerLink]="['/', userId, username]">My Profile</a>
        <a href="#" [routerLink]="['/conversations']">Conversations</a>
        <a href="#" (click)="logout()">Log Out</a>
      </div>
    </div> 
    <div class="dropdown1">
      <button class="dropbtn1">My Organization</button>
      <div class="dropdown-content1">
        <a href="#" [routerLink]="['/create-organization']">Create organization</a>
        <p *ngFor="let organization of organizations">
          <a *ngIf="this.userId == organization.userId" href="#" [routerLink]="['/organization/',organization.userId, organization.id, organization.name]">
            <img src="{{organization.organizationPhotoUrl || '../../../../assets/organization.png'}}" style="width:  50px; height: 50px;" >
            {{organization.name}}
            </a> 
        </p>
      </div>
    </div>
</div>
<br><br>

<button [routerLink]="'vacancy'">Vacancy</button>
<button [routerLink]="'specialists'">Specialists</button>
<button [routerLink]="'organizations'">Organizations</button>


