<h3>{{followersParam === 'Followers' ? 'My Followers' : 'I Follow'}} : {{pagination.totalItems}}</h3>
<input type="radio" name="type" [(ngModel)]="followersParam" (click)="loadUsers()" value="Followers"> Followers<br>
<input type="radio" name="type" [(ngModel)]="followersParam" (click)="loadUsers()" value="Followees"> Following<br>
<div *ngFor="let user of users">
  <app-member-card [user]="user"></app-member-card>
</div>

<pagination [boundaryLinks]="true" 
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>
