<h3>HI</h3>
<img style="width: 120px; height: 120px" src="{{user.photoUrl || '../../../../../../assets/user.png'}}" alt="{{user.username}}">
<p>
  {{user.username}}
</p>

<p>
  last active: {{user.lastAction | timeAgo}}
</p>

<p>
 member since: {{user.created | date: 'short'}}
</p>
<button (click)="sendFollow(user.id)" *ngIf="!isCurrentUser()">Follow</button>
<button (click)="sendUnfollow(user.id)" *ngIf="!isCurrentUser()">Unfollow</button>
<button [routerLink]="['/edit']" *ngIf="isCurrentUser()">Edit Profile</button>
<button [routerLink]="['/conversations']" *ngIf="isCurrentUser()">Conversations</button>
<button  *ngIf="!isCurrentUser()">Message</button>
<br>
<button [routerLink]="['/follow-list']" *ngIf="isCurrentUser()">Follow List</button>

<app-member-messages [recipientId]="user.id"></app-member-messages>
