<br> <br>
<img style="width: 950px; height: 250px" src="{{organization.organizationHeadPhotoUrl}}" alt="{{organization.name}}" *ngIf="organization.organizationHeadPhotoUrl">
<p>
  {{organization.name}}
</p>
<img style="width: 120px; height: 120px" src="{{organization.organizationPhotoUrl || '../../../../../../assets/organization.png'}}" alt="{{organization.name}}">
<p>
  {{organization.description}}
</p>
<p>
 member since: {{organization.dateCreated | date: 'short'}}
</p>
<button (click)="sendOrganizationFollow(organization.id)" *ngIf="!isCurrentUser() && !isFollowed()">Follow</button>
<button (click)="sendOrganizationUnfollow(organization.id)" *ngIf="!isCurrentUser() && isFollowed()">Unfollow</button>
<button *ngIf="isCurrentUser()" [routerLink]="['/organization/edit',organization.userId, organization.id, organization.name]">Edit</button>
<button [routerLink]="['/organization-followers', organization.userId, organization.id]" *ngIf="isCurrentUser()">Follow List</button>