<div class="converstation">
  <p *ngIf="messages?.length === 0">No messages yet</p>
  <!-- to them -->
  <li *ngFor="let message of messages">
      <div *ngIf="message.senderId == recipientId">
          <img style="width: 40px;" src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}">
          <div>
            <strong>{{message.senderKnownAs}}</strong>
            <span>{{message.messageSent  | timeAgo}}</span>
          </div>
          <p>{{message.content}}</p>
      </div>
  
  <!-- to me -->
      <div *ngIf="message.senderId != recipientId">
          <img style="width: 40px;" src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}">
          <div>
            <strong>{{message.senderKnownAs}}</strong>
            <span>{{message.messageSent  | timeAgo}}</span>
            <span *ngIf="!message.isRead" style="color: red">(unread)</span>
            <span *ngIf="message.isRead" style="color: green">(read {{message.dateRead | timeAgo}})</span>
          </div>
          <p>{{message.content}}</p>
      </div>
  </li>
  <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
    <input 
    [(ngModel)]="newMessage.content" 
    name="content"
    required
    type="text" placeholder="send message">
    <button [disabled]="!messageForm.valid">Send</button>
  </form>
</div>