<h3>Your Profile</h3>
<img style="width: 130px; height: 130px;" src="{{photoUrl}}">
<form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()" >
  <h4>username Edit</h4>
  <textarea name="username" rows="4" [(ngModel)]="user.username"></textarea>
  <h4>Created Edit</h4>
  <textarea name="created" rows="4" [(ngModel)]="user.created"></textarea>
</form>

<button [disabled]="!editForm.dirty" form="editForm">Save</button>


<h3>Photos</h3>

<app-member-photo-editor [photos]="user.photos" (getMemberPhotoChange)="updateMainPhoto($event)"></app-member-photo-editor>