<h3>Organizations list</h3>
<div *ngFor="let organization of organizations">
    <app-organization-card [organization]="organization"></app-organization-card>
</div>

<pagination [boundaryLinks]="true" 
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>

