<h3>Organizations list</h3>
<div *ngFor="let organization of organizations">
  <h5>{{organization.name}}</h5>
  <p>{{organization.description}}</p>
  <p> org: {{organization.id}}</p>
  <p> user: {{organization.userId}}</p>
  <button [routerLink]="['/organization/',organization.userId, organization.id, organization.name]">watch</button>
  <hr>
</div>

<pagination [boundaryLinks]="true" 
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>

